.btnOutline:hover {
	opacity: .8;
}

.btnOutline:active {
	position: relative;
	top: 1px;
}

.btnOutline {
	height: 48px;
	border-radius: 5px;
	padding: 12px 20px;

	border: 1px solid var(--blackpure);
	background-color: var(--white);
	color: var(--black);

	display: flex;
	column-gap: 10px;
	align-items: center;

	transition: opacity .2s ease-in;
}